<base href="/" />

<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/inline.bundle.js"></script>
    <script type="text/javascript" src="~/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/styles.bundle.js"></script>
    <script type="text/javascript" src="~/main.bundle.js"></script>
    
   
<script type="text/javascript" src="../../test/wwwroot/inline.bundle.js"></script><script type="text/javascript" src="../../test/wwwroot/polyfills.bundle.js"></script><script type="text/javascript" src="../../test/wwwroot/styles.bundle.js"></script><script type="text/javascript" src="../../test/wwwroot/main.bundle.js"></script></body>